* {
  box-sizing: border-box;
}
.row {
  margin: 0;
  clear: both;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2%\9 !important;
  margin-right: -1.5vw;
}
.span12 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span12 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span12 {
    width: calc(100% - 1.5vw);
    width: 98%\9;
    *width: 98%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span12 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span12 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span11 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span11 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span11 {
    width: calc(91.66666667% - 1.5vw);
    width: 89.66666667%\9;
    *width: 89%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span11 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span11 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span10 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span10 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span10 {
    width: calc(83.33333333% - 1.5vw);
    width: 81.33333333%\9;
    *width: 81%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span10 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span10 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span9 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span9 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span9 {
    width: calc(75% - 1.5vw);
    width: 73%\9;
    *width: 73%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span9 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span9 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span8 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span8 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span8 {
    width: calc(66.66666667% - 1.5vw);
    width: 64.66666667%\9;
    *width: 64%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span8 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span8 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span7 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span7 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span7 {
    width: calc(58.33333333% - 1.5vw);
    width: 56.33333333%\9;
    *width: 56%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span7 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span7 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span6 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span6 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span6 {
    width: calc(50% - 1.5vw);
    width: 48%\9;
    *width: 48%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span6 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span6 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span5 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span5 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span5 {
    width: calc(41.66666667% - 1.5vw);
    width: 39.66666667%\9;
    *width: 39%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span5 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span5 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span4 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span4 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span4 {
    width: calc(33.33333333% - 1.5vw);
    width: 31.33333333%\9;
    *width: 31%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span4 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span4 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span3 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span3 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span3 {
    width: calc(25% - 1.5vw);
    width: 23%\9;
    *width: 23%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span3 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span3 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span2 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span2 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span2 {
    width: calc(16.66666667% - 1.5vw);
    width: 14.66666667%\9;
    *width: 14%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span2 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span2 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.span1 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.span1 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 740px) {
  .span1 {
    width: calc(8.33333333% - 1.5vw);
    width: 6.33333333%\9;
    *width: 6%\9 !important;
    margin-right: 2%\9 !important;
  }
  .span1 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .span1 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
body {
  margin: 0;
  padding: 1.5vw;
}
pre {
  padding: .5em;
  margin: 0;
  line-height: normal;
  background-color: #EFEFEF;
  border-radius: 3px;
}
pre:hover {
  background-color: #CCC;
}
.col7 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.col7 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 320px) {
  .col7 {
    width: calc(14.28571429% - 1.5vw);
    width: 12.28571429%\9;
    *width: 12%\9 !important;
    margin-right: 2%\9 !important;
  }
  .col7 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .col7 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
.col5 {
  float: left;
  width: calc(100% - 1.5vw);
  margin: 0 1.5vw 1.5vw 0;
}
.col5 *[class*="row"]:last-child *[class*="span"] {
  margin-bottom: 1.5vw;
}
@media (min-width: 960px) {
  .col5 {
    width: calc(20% - 1.5vw);
    width: 18%\9;
    *width: 18%\9 !important;
    margin-right: 2%\9 !important;
  }
  .col5 > *[class*="row"]:last-child {
    margin-bottom: 0;
  }
  .col5 > *[class*="row"]:last-child *[class*="span"] {
    margin-bottom: 0;
  }
}
