@import "simplygrid-scss";
$grid-colclass: span;

body {
	margin: 0;
	padding: $grid-gutters;
}

pre {
	padding: .5em;
	margin: 0;
	line-height: normal;
	background-color: #EFEFEF;
	border-radius: 3px;
	&:hover {
		background-color: #CCC;
	}
}

.mixin3 {
	@include col(1,3);
}

.mixin4 {
	@include col(1,4,720px);
}

.multi-break:before {
	content: "12/12-sm";
	@media (min-width: 768px) {
		content: "6/12-md";
	}
	@media (min-width: 1024px) {
		content: "4/12-lg";
	}
	@media (min-width: 1280) {
		content: "1/12-xl";
	}
}

.col3 {
	@include col(1,3);
}

.col5 {
	@include col(1,5,960px);
}
