* {
  box-sizing: border-box;
}
.row {
  margin: 0;
  clear: both;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2%\9 !important;
  margin-right: -2vmax;
}
*[class*="col"] {
  float: left;
  margin: 0 2vmax 2vmax 0;
  width: calc(100% - 2vmax);
}
*[class*="col"] *[class*="row"]:last-child *[class*="col"]:last-child,
*[class*="col"] > *[class*="row"]:last-child *[class*="col"] {
  margin-bottom: 0;
}
.col12 {
  width: calc(100% - 2vmax);
  width: 98%\9;
  *width: 98%\9 !important;
}
.col11 {
  width: calc(91.66666667% - 2vmax);
  width: 89.66666667%\9;
  *width: 89%\9 !important;
}
.col10 {
  width: calc(83.33333333% - 2vmax);
  width: 81.33333333%\9;
  *width: 81%\9 !important;
}
.col9 {
  width: calc(75% - 2vmax);
  width: 73%\9;
  *width: 73%\9 !important;
}
.col8 {
  width: calc(66.66666667% - 2vmax);
  width: 64.66666667%\9;
  *width: 64%\9 !important;
}
.col7 {
  width: calc(58.33333333% - 2vmax);
  width: 56.33333333%\9;
  *width: 56%\9 !important;
}
.col6 {
  width: calc(50% - 2vmax);
  width: 48%\9;
  *width: 48%\9 !important;
}
.col5 {
  width: calc(41.66666667% - 2vmax);
  width: 39.66666667%\9;
  *width: 39%\9 !important;
}
.col4 {
  width: calc(33.33333333% - 2vmax);
  width: 31.33333333%\9;
  *width: 31%\9 !important;
}
.col3 {
  width: calc(25% - 2vmax);
  width: 23%\9;
  *width: 23%\9 !important;
}
.col2 {
  width: calc(16.66666667% - 2vmax);
  width: 14.66666667%\9;
  *width: 14%\9 !important;
}
.col1 {
  width: calc(8.33333333% - 2vmax);
  width: 6.33333333%\9;
  *width: 6%\9 !important;
}
@media (min-width: 568px) {
  .col1-sm {
    width: calc(8.33333333% - 2vmax);
    width: 6.33333333%\9;
    *width: 6%\9 !important;
  }
  .col2-sm {
    width: calc(16.66666667% - 2vmax);
    width: 14.66666667%\9;
    *width: 14%\9 !important;
  }
  .col3-sm {
    width: calc(25% - 2vmax);
    width: 23%\9;
    *width: 23%\9 !important;
  }
  .col4-sm {
    width: calc(33.33333333% - 2vmax);
    width: 31.33333333%\9;
    *width: 31%\9 !important;
  }
  .col5-sm {
    width: calc(41.66666667% - 2vmax);
    width: 39.66666667%\9;
    *width: 39%\9 !important;
  }
  .col6-sm {
    width: calc(50% - 2vmax);
    width: 48%\9;
    *width: 48%\9 !important;
  }
  .col7-sm {
    width: calc(58.33333333% - 2vmax);
    width: 56.33333333%\9;
    *width: 56%\9 !important;
  }
  .col8-sm {
    width: calc(66.66666667% - 2vmax);
    width: 64.66666667%\9;
    *width: 64%\9 !important;
  }
  .col9-sm {
    width: calc(75% - 2vmax);
    width: 73%\9;
    *width: 73%\9 !important;
  }
  .col10-sm {
    width: calc(83.33333333% - 2vmax);
    width: 81.33333333%\9;
    *width: 81%\9 !important;
  }
  .col11-sm {
    width: calc(91.66666667% - 2vmax);
    width: 89.66666667%\9;
    *width: 89%\9 !important;
  }
  .col12-sm {
    width: calc(100% - 2vmax);
    width: 98%\9;
    *width: 98%\9 !important;
  }
}
@media (min-width: 768px) {
  .col1-md {
    width: calc(8.33333333% - 2vmax);
    width: 6.33333333%\9;
    *width: 6%\9 !important;
  }
  .col2-md {
    width: calc(16.66666667% - 2vmax);
    width: 14.66666667%\9;
    *width: 14%\9 !important;
  }
  .col3-md {
    width: calc(25% - 2vmax);
    width: 23%\9;
    *width: 23%\9 !important;
  }
  .col4-md {
    width: calc(33.33333333% - 2vmax);
    width: 31.33333333%\9;
    *width: 31%\9 !important;
  }
  .col5-md {
    width: calc(41.66666667% - 2vmax);
    width: 39.66666667%\9;
    *width: 39%\9 !important;
  }
  .col6-md {
    width: calc(50% - 2vmax);
    width: 48%\9;
    *width: 48%\9 !important;
  }
  .col7-md {
    width: calc(58.33333333% - 2vmax);
    width: 56.33333333%\9;
    *width: 56%\9 !important;
  }
  .col8-md {
    width: calc(66.66666667% - 2vmax);
    width: 64.66666667%\9;
    *width: 64%\9 !important;
  }
  .col9-md {
    width: calc(75% - 2vmax);
    width: 73%\9;
    *width: 73%\9 !important;
  }
  .col10-md {
    width: calc(83.33333333% - 2vmax);
    width: 81.33333333%\9;
    *width: 81%\9 !important;
  }
  .col11-md {
    width: calc(91.66666667% - 2vmax);
    width: 89.66666667%\9;
    *width: 89%\9 !important;
  }
  .col12-md {
    width: calc(100% - 2vmax);
    width: 98%\9;
    *width: 98%\9 !important;
  }
}
@media (min-width: 1024px) {
  .col1-lg {
    width: calc(8.33333333% - 2vmax);
    width: 6.33333333%\9;
    *width: 6%\9 !important;
  }
  .col2-lg {
    width: calc(16.66666667% - 2vmax);
    width: 14.66666667%\9;
    *width: 14%\9 !important;
  }
  .col3-lg {
    width: calc(25% - 2vmax);
    width: 23%\9;
    *width: 23%\9 !important;
  }
  .col4-lg {
    width: calc(33.33333333% - 2vmax);
    width: 31.33333333%\9;
    *width: 31%\9 !important;
  }
  .col5-lg {
    width: calc(41.66666667% - 2vmax);
    width: 39.66666667%\9;
    *width: 39%\9 !important;
  }
  .col6-lg {
    width: calc(50% - 2vmax);
    width: 48%\9;
    *width: 48%\9 !important;
  }
  .col7-lg {
    width: calc(58.33333333% - 2vmax);
    width: 56.33333333%\9;
    *width: 56%\9 !important;
  }
  .col8-lg {
    width: calc(66.66666667% - 2vmax);
    width: 64.66666667%\9;
    *width: 64%\9 !important;
  }
  .col9-lg {
    width: calc(75% - 2vmax);
    width: 73%\9;
    *width: 73%\9 !important;
  }
  .col10-lg {
    width: calc(83.33333333% - 2vmax);
    width: 81.33333333%\9;
    *width: 81%\9 !important;
  }
  .col11-lg {
    width: calc(91.66666667% - 2vmax);
    width: 89.66666667%\9;
    *width: 89%\9 !important;
  }
  .col12-lg {
    width: calc(100% - 2vmax);
    width: 98%\9;
    *width: 98%\9 !important;
  }
}
@media (min-width: 1280px) {
  .col1-xl {
    width: calc(8.33333333% - 2vmax);
    width: 6.33333333%\9;
    *width: 6%\9 !important;
  }
  .col2-xl {
    width: calc(16.66666667% - 2vmax);
    width: 14.66666667%\9;
    *width: 14%\9 !important;
  }
  .col3-xl {
    width: calc(25% - 2vmax);
    width: 23%\9;
    *width: 23%\9 !important;
  }
  .col4-xl {
    width: calc(33.33333333% - 2vmax);
    width: 31.33333333%\9;
    *width: 31%\9 !important;
  }
  .col5-xl {
    width: calc(41.66666667% - 2vmax);
    width: 39.66666667%\9;
    *width: 39%\9 !important;
  }
  .col6-xl {
    width: calc(50% - 2vmax);
    width: 48%\9;
    *width: 48%\9 !important;
  }
  .col7-xl {
    width: calc(58.33333333% - 2vmax);
    width: 56.33333333%\9;
    *width: 56%\9 !important;
  }
  .col8-xl {
    width: calc(66.66666667% - 2vmax);
    width: 64.66666667%\9;
    *width: 64%\9 !important;
  }
  .col9-xl {
    width: calc(75% - 2vmax);
    width: 73%\9;
    *width: 73%\9 !important;
  }
  .col10-xl {
    width: calc(83.33333333% - 2vmax);
    width: 81.33333333%\9;
    *width: 81%\9 !important;
  }
  .col11-xl {
    width: calc(91.66666667% - 2vmax);
    width: 89.66666667%\9;
    *width: 89%\9 !important;
  }
  .col12-xl {
    width: calc(100% - 2vmax);
    width: 98%\9;
    *width: 98%\9 !important;
  }
}
/** for loop by Max Mikhailov
    https://github.com/seven-phases-max/less.curious **/
body {
  margin: 0;
  padding: 2vmax;
}
pre {
  padding: .5em;
  margin: 0;
  line-height: normal;
  background-color: #EFEFEF;
  border-radius: 3px;
}
pre:hover {
  background-color: #CCC;
}
.mixin3 {
  float: left;
  margin: 0 2vmax 2vmax 0;
  width: calc(33.33333333% - 2vmax);
  width: 31.33333333%\9;
  *width: 31%\9 !important;
  margin-right: 2%\9 !important;
}
.mixin3 *[class*="row"]:last-child *[class*="col"]:last-child,
.mixin3 > *[class*="row"]:last-child *[class*="col"] {
  margin-bottom: 0;
}
.mixin4 {
  float: left;
  margin: 0 2vmax 2vmax 0;
  width: calc(100% - 2vmax);
}
.mixin4 *[class*="row"]:last-child *[class*="col"]:last-child,
.mixin4 > *[class*="row"]:last-child *[class*="col"] {
  margin-bottom: 0;
}
@media (min-width: 720px) {
  .mixin4 {
    width: calc(25% - 2vmax);
    width: 23%\9;
    *width: 23%\9 !important;
    margin-right: 2%\9 !important;
  }
}
.multi-break:before {
  content: "12/12-sm";
}
@media (min-width: 768px) {
  .multi-break:before {
    content: "6/12-md";
  }
}
@media (min-width: 1024px) {
  .multi-break:before {
    content: "4/12-lg";
  }
}
@media (min-width: 1280) {
  .multi-break:before {
    content: "1/12-xl";
  }
}
.col3 {
  float: left;
  margin: 0 2vmax 2vmax 0;
  width: calc(33.33333333% - 2vmax);
  width: 31.33333333%\9;
  *width: 31%\9 !important;
  margin-right: 2%\9 !important;
}
.col3 *[class*="row"]:last-child *[class*="col"]:last-child,
.col3 > *[class*="row"]:last-child *[class*="col"] {
  margin-bottom: 0;
}
.col5 {
  float: left;
  margin: 0 2vmax 2vmax 0;
  width: calc(100% - 2vmax);
}
.col5 *[class*="row"]:last-child *[class*="col"]:last-child,
.col5 > *[class*="row"]:last-child *[class*="col"] {
  margin-bottom: 0;
}
@media (min-width: 960px) {
  .col5 {
    width: calc(20% - 2vmax);
    width: 18%\9;
    *width: 18%\9 !important;
    margin-right: 2%\9 !important;
  }
}
